# Dependencies
node_modules/
gateway/node_modules/
gateway/dist/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
.env*.local
.env*
contrat-template.pdf

# Playwright
test-results/
playwright-report/
